* { /* Selecciona todos los elementos */
    font-family: "verdana"; /* Muda a fonte padrão */
    margin: 0; /* Remove a margem */
    padding: 0; /* Remove o padding */
}

body { /* Seleciona todo o corpo do documento */
    padding-bottom: 500px; /* Adiciona um padding em baixo */
}

h2 { /* Seleciona todos os h2 */
    margin-bottom: 1.6rem; /* Adiciona uma margem em baixo */
    text-align: center; /* Centraliza o texto */
    color: #333; /* Muda a cor para preto */
}

#box-shadow-generator { /* Seleciona o elemento com id box-shadow */
    display: flex; /* Muda o display para flex */
    max-width: 1000px; /* Muda a largura máxima */
    margin: 0 auto; /* Centraliza o elemento */
}

#controls-container,
#preview { /* Seleciona os elementos com id controls-container e preview */
    flex: 1; /* Ocupa o mesmo espaço entre os elementos */
    padding: 2rem; /* Adiciona um padding, que faz com que o conteúdo não fique colado nas bordas */
}

/* Controles */
.form-control { /* Seleciona todos os elementos com a classe form-control */
    display: flex; /* Muda o display para flex ai os elementos ficam um ao lado do outro */
    padding-bottom: 1.2rem; /* Adiciona um padding em baixo com isso os elementos não ficam colados no elemento de baixo */
    margin-bottom: 1.2rem; /* Adiciona uma margem em baixo com isso os elementos não ficam colados no elemento de baixo */
    border-bottom: 1px dashed #ccc; /* Adiciona uma borda em baixo */
}

.form-control label { /* Seleciona todos os labels dentro de um elemento com a classe form-control */
    font-weight: bold; /* Deixa o texto em negrito */
    margin-bottom: 1rem; /* Adiciona uma margem em baixo */
    color: #555; /* Muda a cor do texto */
}

.range-input { /* Seleciona todos os elementos com a classe range-input */
    display: flex; /* Muda o display para flex esse comando faz com que os elementos fiquem um ao lado do outro */
    flex-direction: column;  /*Muda a direção dos elementos para coluna */
    flex: 1; /* Ocupa o mesmo espaço entre os elementos */
}

.range-input input[type="range"] { /* Seleciona todos os inputs do tipo range dentro de um elemento com a classe range-input */
    -webkit-appearance: none; /* Remove a aparência padrão do input, no caso do chrome */
    appearance: none; /* Remove a aparência padrão do input em outros navegadores */
    width: 100%; /* Muda a largura para 100% */
    height: 24px; /* Muda a altura para 24px */
    background-color: #d3d3d3; /* Muda a cor de fundo */
    outline: none; /* Remove a borda */
}

.range-input input[type="range"]::-webkit-slider-thumb { /* Seleciona o thumb do input range no chrome */
    -webkit-appearance: none; /* Remove a aparência padrão do thumb */
    appearance: none; /* Remove a aparência padrão do thumb em outros navegadores */
    width: 25px; /* Muda a largura para 25px */
    height: 25px; /* Muda a altura para 25px */
    background-color: #de1300; /* Muda a cor de fundo */
    cursor: pointer; /* Muda o cursor para pointer */
}

.reference-input { /* Seleciona todos os elementos com a classe referece-input */
    display: flex; /* Muda o display para flex */
    align-items: center; /* Alinha os elementos no centro */
}

.reference-input p { /* Seleciona todos os parágrafos dentro de um elemento com a classe referece-input */
    margin-left: 4px; /* Adiciona uma margem a esquerda */
}

.form-control input[type="text"] { /* Seleciona todos os inputs do tipo text dentro de um elemento com a classe form-control */
    height: 30px; /* Muda a altura para 30px */
    width: 30px; /* Muda a largura para 30px */
    margin-left: 1rem; /* Adiciona uma margem a esquerda */
    text-align: center; /* Centraliza o texto */
}

/* Novas funcionalidades */

#color-value { /* Seleciona o elemento com id color-values */
    min-width: 100px; /* Muda a largura mínima para 100px */
}

#inset { /* Seleciona o elemento com id inset */
    width: 100%; /* Muda a largura para 100% */
    height: 20px; /* Muda a altura para 20px */
    width: 20px; /* Muda a largura para 20px */
}

/* Comu */
#color-value { /* Seleciona o elemento com id color-values */
    min-width: 100px; /* Muda a largura mínima para 100px */
}
  
#inset { /* Seleciona o elemento com id inset */
    align-self: start; /* Alinha o elemento no início */
    height: 20px; /* Muda a altura para 20px */
    width: 20px; /* Muda a largura para 20px */
}

/* Preview */

#box { /* Seleciona o elemento com id box */
    width: 100%; /* Muda a largura para 100% */
    height: 300px; /* Muda a altura para 300px */
    background-color: #e9d60a; /* Muda a cor de fundo */
}

/* área de geração */
#generated-rule { /* Seleciona o elemento com id generated-rule */
    text-align: center; /* Centraliza o texto */
    margin-bottom: 2rem; /* Adiciona uma margem em baixo */
    padding: 0 2rem; /* Adiciona um padding nas laterais */
}

#generated-rule p { /* Seleciona todos os parágrafos dentro de um elemento com id generated-rule */
    margin-bottom: 0.5rem; /* Adiciona uma margem em baixo */
}

#rules-area { /* Seleciona o elemento com id rules-area */
    background-color: #d3d3d3; /* Muda a cor de fundo */
    max-width: 1000px; /* Muda a largura máxima */
    margin: 0 auto; /* Centraliza o elemento */
    border: 2px solid #e9d60a; /* Adiciona uma borda */
    padding: 1rem; /* Adiciona um padding */
    transition: 0.4s; /* Adiciona uma transição de 0.4s */
    cursor: pointer; /* Muda o cursor para pointer */
}

#rules-area:hover { /* Seleciona o elemento com id rules-area quando o mouse passa por cima */
    background-color: #dfdfdf; /* Muda a cor de fundo */
}

#copy-instructions { /* Seleciona o elemento com id copy-instructions */
    font-family: italic;
    margin-top: 1rem; /* Adiciona uma margem em cima */
} 


/* Responsividade */

@media (max-width: 425px) { /* Quando a tela tiver no máximo 425px de largura */
    #controls-container,
    #preview { /* Seleciona os elementos com id controls-container e preview */
        padding: 1rem 2rem; /* Adiciona um padding abaixo e acima */
    }

    #box-shadow-generator { /* Seleciona o elemento com id box-shadow */
        flex-direction: column; /* Muda a direção dos elementos para coluna */
    }

    #box { /* Seleciona o elemento com id box */
        width: 60%; /* Muda a largura para 60% */
        height: 200px; /* Muda a altura para 200px */
        margin: 0 auto; /* Centraliza o elemento */
    }

    #generated-rule { /* Seleciona o elemento com id generated-rule */
        margin-top: 2rem; /* Adiciona uma margem em cima */
    }
}
















