* {
    margin: 0; /* Zera as margens */
    padding: 0; /* Zera o padding */
    box-sizing: border-box; /* Faz com que o padding e a borda não aumentem o tamanho do elemento */
    font-family: Roboto; /* Define a fonte padrão */
}

/* Estiliza o body */

body {
    display: flex; /* Faz com que os elementos fiquem em linha */
    align-items: center; /* Alinha os elementos verticalmente */
    justify-content: center; /* Alinha os elementos horizontalmente */
    min-height: 100vh; /* Faz com que o body ocupe 100% da altura da tela */
    background-color: #34db7a; /* Define a cor de fundo */
}

/* Estiliza o container */

.container {
    background-color: #fff; /* Define a cor de fundo */
    height: 260px; /* Define a altura */
    width: 400px; /* Define a largura */
    border-radius: 10px; /* Define a borda arredondada */
    padding: 20px; /* Define o padding */
    transition: 0.2s; /* Adiciona uma transição */
}

.container.active {
    height: 500px; /* Define a altura */
}

/* Estiliza o Header */

#qr-header {
    text-align: center; /* Alinha o texto ao centro */
}

#qr-header h1 {
    font-size: 1.8rem; /* Define o tamanho da fonte */
    margin-bottom: 10px; /* Define a margem inferior */
}

#qr-header p {
    color: #444; /* Define a cor do texto */
    font-size: 0.9rem; /* Define o tamanho da fonte */
}

/* Estiliza o Form */

#qr-form {
    margin-top: 20px 15px; /* Define a margem superior */
}

#qr-form input,
#qr-form button {
    width: 100%; /* Define a largura */
    height: 55px; /* Define a altura */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Define a borda arredondada */
    font-size: 0.9rem; /* Define o tamanho da fonte */
}
    
#qr-form input {
    border: 1px solid #777; /* Adiciona uma borda */
    padding: 10px 15px; /* Define o padding */
}

#qr-form button {
    background-color: #086824; /* Define a cor de fundo */
    color: #fff; /* Define a cor do texto */
    font-size: 1.2rem; /* Define o tamanho da fonte */
    margin-top: 20px; /* Define a margem superior */
    cursor: pointer; /* Adiciona um cursor */
    opacity: 0.9; /* Define a opacidade */
    transition: 0.4s; /* Adiciona uma transição */
}

#qr-form button:hover {
    opacity: 1; /* Define a opacidade */
}

/* Estiliza o QR Code */

#qr-code {
    display: flex; /* Faz com que os elementos fiquem em linha */
    opacity: 0; /* Define a opacidade */
    border: 1px solid #ccc; /* Adiciona uma borda */
    padding: 30px 0; /* Define o padding */
    margin: 20px 15px; /* Define a margem */
    display: flex; /* Faz com que os elementos fiquem em linha */
    justify-content: center; /* Alinha os elementos horizontalmente */
    border-radius: 5px; /* Define a borda arredondada */
    transition: .5s; /* Adiciona uma transição */
}

.container.active #qr-code {
    opacity: 1; /* Define a opacidade */
}






















