* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "lato", sans-serif;
}

body { /* Estiliza o corpo da página */
    background-color: #090e22; /* Cor de fundo */
    display: flex; /* Faz com que os elementos fiquem um ao lado do outro */
    justify-content: center; /* Centraliza os elementos */
    align-items: center; /* Centraliza os elementos */
    min-height: 100vh; /* Altura mínima da página */
    color: #fff; /* Cor da fonte */
}

.hide { /* Esconde o elemento */
    display: none !important; /* Não exibe o elemento... o comando !important é para que o elemento não seja exibido */
}

.container { /* Estiliza o container */
    min-width: 400px; /* Largura mínima do container */
    min-height: 400px; /* Altura mínima do container */
    background-color: #1d1f38; /* Cor de fundo do container */
    padding: 2rem; /* Espaçamento interno do container */
}

/* IMC Form */

#calc-container h2 { /* Estiliza o título do formulário */
    text-align: center; /* Centraliza o texto */
    margin-bottom: 2rem; /* Espaçamento inferior */
}

.form-imputs {
    display: flex; /* Faz com que os elementos fiquem um ao lado do outro */
    flex-direction: column; /* Faz com que os elementos fiquem um abaixo do outro */
    justify-content: space-between; /* Espaçamento entre os elementos */
}

.form-control { /* Estiliza o input */
    display: flex; /* Faz com que os elementos fiquem um ao lado do outro */
    flex-direction: column; /* Faz com que os elementos fiquem um abaixo do outro */
    flex: 1; /* Faz com que o input ocupe todo o espaço disponível */
    margin-bottom: 1rem; /* Espaçamento inferior */
}

.form-control label { /* Estiliza o label */
    font-weight: bold; /* Deixa o texto em negrito */
    margin-bottom: 0.6rem; /* Espaçamento inferior */
    color: #ccc; /* Cor da fonte */
}

.form-control input { /* Estiliza o input */
    padding: 1rem 0.5rem; /* Espaçamento interno */
}

.action-control { /* Estiliza o botão */
    display: flex; /* Faz com que os elementos fiquem um ao lado do outro */
    justify-content: space-between; /* Espaçamento entre os elementos */
    margin-top: 2rem; /* Espaçamento superior */
    gap: 1rem; /* Espaçamento entre os elementos */
}

button { /* Estiliza o botão */
    text-transform: uppercase; /* Deixa o texto em caixa alta */
    padding: 1rem 1.5rem; /* Espaçamento interno */
    background-color: #f44236; /* Cor de fundo */
    border: none; /* Remove a borda */
    color: #fff; /* Cor da fonte */
    cursor: pointer; /* Muda o cursor do mouse */
    opacity: 0.9; /* Opacidade do botão */
    flex: 1; /* Faz com que o botão ocupe todo o espaço disponível */
}
    
button:hover { /* Estiliza o botão quando o mouse passa por cima */
    opacity: 1; /* Opacidade do botão */
}

#clear-btn { /* Estiliza o botão de limpar */
    background-color: #444; /* Cor de fundo */
}

/* Tabela IMC */

#result-container { /* Estiliza o container do resultado */
    text-align: center; /* Centraliza o texto */
    display: flex; /* Faz com que os elementos fiquem um ao lado do outro */
    flex-direction: column; /* Faz com que os elementos fiquem um abaixo do outro */
}

#imc-number { /* Estiliza o número do IMC */
    font-size: 2.4rem; /* Tamanho da fonte */
    margin-bottom: 0.6rem; /* Espaçamento inferior */
}

#imc-info { /* Estiliza a informação do IMC */
    font-size: 1.4rem; /* Tamanho da fonte */
    color: #ccc; /* Cor da fonte */
}

#result-container h3 { /* Estiliza o título do resultado */
    margin-top: 1rem; /* Espaçamento superior */
    color: #dfdfdf; /* Cor da fonte */
}

#imc-table { /* Estiliza a tabela do IMC */
    margin: 1.5rem 0; /* Espaçamento externo */
    font-size: 0.8rem; /* Tamanho da fonte */
}

.table-header { /* Estiliza o cabeçalho da tabela */
    font-weight: bold; /* Deixa o texto em negrito */
    color: #ccc; /* Cor da fonte */
}

.table-header,
.table-data { /* Estiliza o cabeçalho e os dados da tabela */
    display: flex; /* Faz com que os elementos fiquem um ao lado do outro */
    justify-content: space-between; /* Espaçamento entre os elementos */
    margin-bottom: .5rem; /* Espaçamento inferior */
    padding-bottom: .5rem; /* Espaçamento interno inferior */
    border-bottom: 1px solid #444; /* Borda inferior */
} /* Os elementos ficam um ao lado do outro e com um espaçamento entre eles para formatar melhor teremos de fazer ''na mão'' */

.table-header h4,
.table-data p { /* Estiliza o cabeçalho e os dados da tabela */
    flex: 1; /* Faz com que o elemento ocupe todo o espaço disponível */
}

.table-header h4:nth-child(3),
.table-data p:nth-child(3) { /* Estiliza o cabeçalho e os dados da tabela... o comando nth-child(3) é para que o elemento fique na terceira posição */
    min-width: 80px; /* Largura mínima do elemento */
}

#back-btn { /* Estiliza o botão de voltar */
    align-self: center; /* Centraliza o botão */
}

.good { /* Estiliza o texto */
    color: #12db34; /* Cor da fonte */
}

.low { /* Estiliza o texto */
    color: #dbce12; /* Cor da fonte */
}

.medium { /* Estiliza o texto */
    color: #db6212; /* Cor da fonte */
}

.high { /* Estiliza o texto */
    color: #db1912; /* Cor da fonte */
}